.wrapper {
  position: relative;
}

.textarea {
  width: 100%;
}

.listWrapper {
  position: absolute;
  top: calc(100% + 12px);
  z-index: 1;
  width: 100%;
  max-height: 50vh;
  padding: 8px;
  overflow-y: auto;
  background: white;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 8px;
}

.list {
  li {
    cursor: pointer;
    &:hover {
      background-color: var(--blueGrey50);
    }
  }

  li + li {
    margin: 16px 0 0 0;
  }
}
