.noResult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    margin: 0 0 16px;
    font-size: 120px;
    color: var(--blueGrey800);
  }
}

.title {
  margin: 0 0 4px;
  font-size: 28px;
  font-weight: 500;
}

.description {
  color: var(--blueGrey500);
}
.actions {
  margin: 16px 0 0;
}